{% extends 'admin/layout/layout_main.html.twig' %}

{% block title_detailed %}All Products{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% include 'admin/_embed/_card/_header_action.html.twig' with{
                'sectionTitle':'Products',
                'actionUrl': path('admin_product_add')
            } %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center " id="main_table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Category</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Cover</th>
                        <th>Is published</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td class="align-middle">{{ product.id }}</td>
                            <td class="align-middle">{% if product.category %}{{ product.category.title }} {% endif %}</td>
                            <td class="align-middle">{{ product.title }}</td>
                            <td class="align-middle">{{ product.price|format_currency("USD") }}</td>
                            <td class="col-md-1 align-middle">{{ product.quantity }}</td>
                            <td class="col-md-1">
                                {% set images = product.getProductImages().getValues() %}
                                {% if images|length %}
                                    {% set image = images[0] %}
                                    <img class="img-fluid img-thumbnail"
                                         src="{{ asset('uploads/images/products/' ~ product.id ~ '/' ~ image.filenameSmall) }}"
                                         alt="{{ image.filenameMiddle }}"
                                    >
                                {% endif %}

                            </td>
                            <td class="col-md-1 align-middle">
                                <i class="fas fa-check fa-sm"
                                   style="color: {% if product.isPublished %}lightgreen{% else %}coral{% endif %};"></i>
                            </td>
                            <td>
                                <a href="{{ path('admin_product_edit',{'id':product.id}) }}"
                                   class="btn btn-outline-info">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
